ValidateHostname is wrong

// [RFC 952]: https://datatracker.ietf.org/doc/html/rfc952
// [RFC 1035]: https://datatracker.ietf.org/doc/html/rfc1035
// [RFC 1123]: https://datatracker.ietf.org/doc/html/rfc1123
func ValidateHostname(name string) (err error) 

also need follow https://datatracker.ietf.org/doc/html/rfc2181#autoid-30

@sanyo0714, hello.  This is actually a matter of poor standard terminology, which AFAIK doesn't make a strict distinction between a **domain name** and  a **hostname**, so that we have to come up with it ourselves.  I guess what you're looking for is the [`netutil.ValidateDomainName`](https://pkg.go.dev/github.com/AdguardTeam/golibs/netutil#ValidateDomainName), which only restricts the length of validated names (and TLD characters), as specified by the latest standards.

It may also be useful to know that the `netutil` package is aware of 3 kinds of names:
* [Hostnames](https://pkg.go.dev/github.com/AdguardTeam/golibs/netutil#ValidateHostname) – restricted by ASCII character set (after IDNA conversion), name length, label lengths, and TLD characters.
* [SRV domain names](https://pkg.go.dev/github.com/AdguardTeam/golibs/netutil#ValidateSRVDomainName) – same as above, but allowed to contain some labels with leading underscore character.
* [Domain names](https://pkg.go.dev/github.com/AdguardTeam/golibs/netutil#ValidateDomainName) – restricted only by name lengths and label lengths (also after IDNA conversion).

@EugeneOne1 dnsproxy AddressToUpstream use ValidateHostname. When doh is set to [aaa_aaa.doh.com], dnsproxy will report an error


// TODO(e.burkov):  Clone opts?
func AddressToUpstream(addr string, opts *Options) (u Upstream, err error) {
	if opts == nil {
		opts = &Options{}
	}

	if opts.Logger == nil {
		opts.Logger = slog.Default()
	}

	var uu *url.URL
	if strings.Contains(addr, "://") {
		uu, err = url.Parse(addr)
		if err != nil {
			return nil, fmt.Errorf("failed to parse %s: %w", addr, err)
		}
	} else {
		uu = &url.URL{
			Scheme: "udp",
			Host:   addr,
		}
	}

	err = validateUpstreamURL(uu)
	if err != nil {
		// Don't wrap the error, because it's informative enough as is.
		return nil, err
	}

	return urlToUpstream(uu, opts)
}

// validateUpstreamURL returns an error if the upstream URL is not valid.
func validateUpstreamURL(u *url.URL) (err error) {
	if u.Scheme == "sdns" {
		return nil
	}

	host := u.Host
	// TODO(s.chzhen):  Consider using [netutil.SplitHostPort].
	h, port, splitErr := net.SplitHostPort(host)
	if splitErr == nil {
		// Validate port.
		_, err = strconv.ParseUint(port, 10, 16)
		if err != nil {
			return fmt.Errorf("invalid port %s: %w", port, err)
		}

		host = h
	}

	// minEnclosedIPv6Len is the minimum length of an IP address enclosed in
	// square brackets.
	const minEnclosedIPv6Len = len("[::]")

	possibleIP := host
	if l := len(host); l >= minEnclosedIPv6Len && host[0] == '[' && host[l-1] == ']' {
		// Might be an IPv6 address enclosed in square brackets with no port.
		//
		// See https://github.com/AdguardTeam/dnsproxy/issues/379.
		possibleIP = host[1 : l-1]
	}
	if netutil.IsValidIPString(possibleIP) {
		return nil
	}

	err = netutil.ValidateHostname(host)
	if err != nil {
		return fmt.Errorf("invalid address %s: %w", host, err)
	}

	return nil
}